<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta name="viewport" content="width=device-width">

    <% ogp_tags do |name, value| %>
      <meta property="<%= name %>" content="<%= value %>">
    <% end %>

    <title>[ <%= current_article.title + " " unless current_article.nil? %>].blue</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="(min-width: 767px)">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="wrapper">
      <header class="page">
        <h1><a href="/">[ ].blue</a></h1>
        <h6>Blog of Titus Stone</h6>
      </header>
      <main>

        <% if current_article %>
          <article>
            <h1 class="title"><%= current_article.title %></h1>
            <h4 class="date"><%= current_article.date.strftime('%B %e, %Y') %></h4>
        <% end %>

        <%= yield %>

        <% if current_article %>
          </article>
        <% end %>

      </main>
    </div>

    <footer>
      <span>&copy; Titus Stone</span>
      <a href="/">Home</a>
      <a href="http://github.com/tstone">Github</a>
      <a href="http://twitter.com/andstuff">Twitter</a>
    </footer>

    <% unless development? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-32115012-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </body>
</html>
