---
pageable: true
per_page: 20
---


<div class="list">
  <% page_articles.each do |article| %>
    <article>
      <% link_to(article) do %>
        <span class="title"><%= article.title %></span>
        <span class="date"><%= article.date.strftime('%B %e, %Y') %></span>

        <% if article.data.category %>
          <span class="category <%= article.data.category %>"><%= article.data.category %></span>
        <% end %>
      <% end %>
    </article>
  <% end %>

  <div class="pagination">
    <% if prev_page %>
      <%= link_to "&lt;&lt; Newer Posts", prev_page, class: "prev" %>
    <% end %>

    <% if next_page %>
      <%= link_to "Older Posts &gt;&gt;", next_page, class: "next" %>
    <% end %>
  </div>
</div>

<aside>

  <div class="pages">
    <h2>Stuff</h2>
    <a href="/presentations/">Presentation Slides</a>
    <a href="/stuff/taig-calc/" data-no-turbolink="true">Taig CNC Calculator</a>
  </div>

  <div>
    <h2>Tags</h2>
    <ol class="tags">
      <% blog.tags.each do |tag, articles| %>
        <% if articles.size > 1 %>
          <li><%= link_to "#{tag}", tag_path(tag) %></li>
        <% end %>
      <% end %>
    </ol>
  </div>

  <div class="years">
    <h2>By Year</h2>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <%= link_to "#{year} (#{articles.size})", blog_year_path(year) %>
    <% end %>
  </div>
</aside>
